html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(46, 44, 65);
  color: rgb(235, 242, 255);
}

a {
  color: rgb(155, 120, 255);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// todo: put this in Message.module.scss, somehow
.emoteWrapper {
  display: inline;

  > span {
    vertical-align: middle;
    margin: -0.5rem 0;
    position: relative;
  }
}
